.header {
    color : #fff ; 
    background-color: #84ceef ;
}
h1 {
    color: #e47292 ;
    text-align: center ;
}
h2 {
    font-weight: bold ;
}

.footer {
    color: #fff ; 
    background-color: #040000 ;   
}